body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

@font-face {
	font-family: "Phyton";
	src: url('Phyton.ttf');
}

section{
	height: 139px;
	width: 409px;
	margin: auto;
	border-radius: 6%;
}

h1 {
	font-family: "Phyton";
	font-size: 54px;
    font-weight: 200;
    color: #808384;
	display: flex;
    justify-content: center;
}
h1 span {
	color:#e45e4c;
}
.imgpoubelle {
	position:relative;
	bottom:45px;
	left:370px;
}
.imgadd {
	height: 30px;
    position: relative;
    top: 12px;
    right: 19px;
}
#containerTodo {
	-moz-box-shadow: 3px 3px 5px 0px #c0c0c0;
	-webkit-box-shadow: 3px 3px 5px 0px #c0c0c0;
	-o-box-shadow: 3px 3px 5px 0px #c0c0c0;
	box-shadow: 3px 3px 5px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    background-color: #F6F6F6;
	border: 1px solid #b3bead;
	height: 80px;
	margin-top:10px;
}
#form1{
    display: flex;
    margin-top: 10px;
    height: 58px;
    width: 362px;
    /*border: 2px solid black;*/
}

#form2{
    background-color: #F6F6F6;
    height: 28px;
    width: 80px;
    /*border: 2px solid red;*/
}

#form3{
	-moz-box-shadow: 3px 3px 5px 0px #c0c0c0;
	-webkit-box-shadow: 3px 3px 5px 0px #c0c0c0;
	-o-box-shadow: 3px 3px 5px 0px #c0c0c0;
	box-shadow: 3px 3px 5px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: auto;
	display: flex;
    background-color: #F6F6F6;
    margin-top: 10px;
    height: 58px;
    width: 409px;
    border: 1px solid #b3bead;
    
}
.inputadd {
    width: 300px;
    height: 30px;
    margin: auto;
    
}
.inputtext {
    width: 275px;
    height: 30px;
    margin: auto;
    
}
.imgbutton {
    height: 30px;
    margin-left: 10px;
    margin-top: 14px;
}

/* SQUARED TWO */
#squaredTwo {
	position: relative;
	top: 12px;
    left: 3px;
	width: 28px;
	height: 28px;
	background: #fcfff4;
}


